{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { width: 80%; margin:auto; display:flex; flex-direction:column; gap:20px  }
</style>
<div class="container" >
<div class="example-wrapper" >
<h1>Poste d'actualité deleted</h1>
</div>
</div>
{% endblock %}